<h1>About Blocitoff</h1>
<div class="col-md-8"><p>Blocitoff is a great way to keep track of your weekly tasks.
  Just add new tasks to your list and they automatically are set with a 7 day timer.  You can always
  mark a list completed or delete tasks at any point.  Just sign up, start your to do list,
  and start getting things done!</p>
</div>
